@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

/*Dimensioni e distanziamento pagina*/
body{
    margin: auto;
    width: 80%;
    padding: 20px;
}

#logo img{
    height: 60px;
    border-right: 2px solid #a4a4a4;
    padding-right: 20px;
}



nav{
    margin: 20px 0;
}

ul li{
    display: inline-block;
    text-transform: uppercase;
    padding-right: 20px;
}

ul li a{
    color: #a4a4a4;
    text-decoration: none;
}

ul li a:hover{
    color: #0086fe; 
    text-decoration: underline; 
    cursor:pointer;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/*Distanziamento sezioni*/
header, .container, .title{
    margin: 20px 0;
}

.container{
    background-image: url(../img/banner.jpg);
    height: 450px;
    background-position: center;
    background-size: cover; 
    position: relative;
}

.text-image, .small-text{
    width: 50%;
}

.text-image{
    position: absolute;
    bottom: 20%;
    left: 35px;
    color: white;
    font-size: 30px;
}

.small-text{
    bottom: 13%;
    font-size: 15px;
}


.container2{
    background-color: #0086fe;
    width: 100%;
    padding-bottom: 20px;
    display: inline-block;
}

/*Sottocontenitori*/

.title h1{
    font-size: 30px;
}

.title h5{
    font-size: 12px;
    color: darkgray;
}

.colonna, .middle-container{
    float: left;
}

.colonna{
    width: 20%;
}

.left{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
}

.middle-container{
    width: 60%;
    padding: 0 20px;
}
.image-middle{ 
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
}


.right{
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
}

.text-ui{
    color: #a4a4a4;
}



/*Fine parte sottocontenitori*/

footer{
    margin-top: 10px;
    background-color: #8801fe;
    height: 50px; 
}